@charset "UTF-8";
/* style.css */
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.logo {
  max-width: 40px;
  height: auto;
}

.navbar {
  padding: 0.5rem 1rem; /* Ajusta el padding del navbar */
  height: 60px; /* Establece una altura fija */
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  flex: 1; /* Toma el espacio disponible */
  background-image: url("../img/cartel.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper .title-index {
  text-align: center;
  margin-bottom: 500px;
}
.wrapper .title-index h1 {
  color: #C03FB2;
  margin: 0;
  font-size: 80px;
  transition: color 1.5s ease-in-out, transform 1.5s ease-in-out;
}
.wrapper .title-index h1:hover {
  color: rgb(113, 49, 49);
  transform: scale(1.1);
}

.wrapper {
  /* Estilo para el placeholder */
}
.wrapper .title-productos {
  margin-top: -200px;
}
.wrapper .title-productos h1 {
  font-size: 50px;
  color: #b7f302;
  text-align: center;
  text-decoration: underline #02f31e;
  margin: 20px 0;
}
.wrapper .title-productos h1.animate__animated {
  animation-duration: 1.5s;
  animation-delay: 0.5s;
}
.wrapper #buscarProductoInput {
  display: flex;
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.wrapper #buscarProductoInput:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}
.wrapper #buscarProductoInput::placeholder {
  color: #888;
  font-style: italic;
}
.wrapper .btn-eliminar {
  background-color: #ff4d4d; /* Color de fondo rojo */
  color: white; /* Color de texto blanco */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de la fuente */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Transición suave */
}
.wrapper .btn-eliminar:hover {
  background-color: #e60000; /* Rojo más oscuro al pasar el mouse */
}
.wrapper .btn-modificar {
  background-color: #f8fc04; /* Color de fondo rojo */
  color: black; /* Color de texto blanco */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de la fuente */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Transición suave */
}
.wrapper .btn-eliminar:hover {
  background-color: #edf90a; /* Rojo más oscuro al pasar el mouse */
}
.wrapper .tabla {
  width: 100%;
  font-size: 1rem;
}
.wrapper .botones {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.wrapper .botones button {
  min-width: 100px;
}
.wrapper .botones .btn-buscar {
  background-color: yellow;
  color: black;
  border-color: yellow;
}

.wrapper .title-productos {
  margin-top: -200px;
}
.wrapper .title-productos h1 {
  display: flex;
  color: #3AAC9D;
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.wrapper .sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #f8f9fa;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}
.wrapper .sidebar-content {
  padding: 20px;
}
.wrapper .sidebar.show {
  transform: translateX(0);
}
.wrapper .tablaClientes {
  width: 100%;
  font-size: 1rem;
}
.wrapper .botones {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.wrapper .botones button {
  min-width: 100px;
}
.wrapper .botones .btn-buscar {
  background-color: yellow;
  color: black;
  border-color: yellow;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
