.wrapper {
    .title-productos {
        margin-top: -200px;

        h1 {
            display: flex;
            color: #3AAC9D;
            font-size: 50px;
            text-align: center;
            text-decoration:underline;
            justify-content: center;
            align-items: center;
            margin: 0;
        }
    }

    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        height: 100%;
        background-color: #f8f9fa;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
    }
    
    .sidebar-content {
        padding: 20px;
    }
    
    .sidebar.show {
        transform: translateX(0);
    }
    


    .tablaClientes {
        width: 100%;
        font-size: 1rem;
    }

    .botones {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;

        button {
            min-width: 100px;
        }

        .btn-buscar{
            background-color: yellow;
            color: black;
            border-color: yellow;
        }
    }
}
