.wrapper{
    .title-index{
        text-align: center; 
        margin-bottom: 500px;
        h1{
            color: #C03FB2;
            margin: 0;
            font-size: 80px;
            transition: color 1.5s ease-in-out, transform 1.5s ease-in-out;

            &:hover{
                color: rgb(113, 49, 49);
                transform: scale(1.1);

            }

        }
    }
}
